.about {
  // height: 800px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1500px) {
    width: 1100px;
  }

  @media (max-width: 1200px) {
    width: auto;
  }

  &__heading {
    // &:after {
    //   content: '';
    //   border-bottom: 3px solid $color-red;
    //   width: 15.5rem;
    //   display: block;
    //   margin: 0 auto;
    //   position: relative;
    //   left: -3rem;
    // }

    &:before {
      position: absolute;
      content: '';
      border-bottom: 18px solid $color-red;
      width: 16rem;
      display: block;
      margin: 0 auto;
      position: relative;
      left: 3.5rem;
      top: 6.3rem;

      z-index: -1;

      @media (max-width: 770px) {
        // width: 14rem;
        border-bottom: 14px solid $color-red;
      }
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }
}

.profile {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: $color-blue-dark;
  font-weight: 500;

  left: -300px;
  opacity: 0;
  transition: all 1.1s;

  // no fade in on small screen
  @media (max-width: 1200px) {
    margin-bottom: 10rem;
    left: 0;
    opacity: 1;
  }

  @media (max-width: 1000px) {
    margin-bottom: 7rem;
  }

  &__picture {
    height: 24rem;
    // width: 35rem;
    margin-bottom: 4rem;
    // background-color: $color-blue-dark;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    & svg {
      transition: all 1.1s;
    }
  }
  &__blurb {
    font-size: 1.8rem;
    width: 500px;
    line-height: 1.8;

    @media (max-width: 600px) {
      width: 80vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__fade-in {
    opacity: 1;
    transform: translateX(300px);
  }
}

.skills {
  display: flex;
  justify-content: center;

  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:not(:last-child) {
      margin-right: 25px;

      @media (max-width: 410px) {
        margin-right: 15px;
      }
    }
  }
  &__item {
    opacity: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 160px;

    border: double 3px transparent;

    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient($color-background, $color-background),
      radial-gradient(circle at top left, $color-blue, $color-red);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;

    transition: transform 0.2s, opacity 1.2s;
    overflow: hidden;

    @media (max-width: 1500px) {
      height: 90px;
      width: 145px;
    }

    @media (max-width: 1200px) {
      opacity: 1;
    }

    @media (max-width: 1000px) {
      height: 80px;
      width: 130px;
    }

    @media (max-width: 600px) {
      height: 70px;
      width: 115px;
    }

    @media (max-width: 500px) {
      height: 60px;
      width: 100px;
    }

    @media (max-width: 410px) {
      height: 50px;
      width: 80px;
    }

    @media (max-width: 350px) {
      height: 40px;
      width: 65px;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @media (max-width: 410px) {
        margin-bottom: 15px;
      }
    }

    & img {
      height: 60px;
      width: auto;
      transition: all 0.2s;

      @media (max-width: 1000px) {
        height: 50px;
      }

      @media (max-width: 600px) {
        height: 40px;
      }

      @media (max-width: 500px) {
        height: 35px;
      }

      @media (max-width: 600px) {
        height: 26px;
      }
    }

    &-name {
      position: absolute;
      bottom: 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      opacity: 0;

      transition: all 0.2s;
    }

    &:hover {
      transform: scale(1.1);

      & img {
        transform: translateY(-0.8rem);
      }

      & .skills__item-name {
        opacity: 1;
        transform: translateY(0.5rem);
      }
    }

    &-fade-in {
      opacity: 1;
    }

    &--js img {
      border-radius: 5px;
    }
  }
}
