.contact {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 10;

  margin-bottom: 10rem;

  @media (max-width: 700px) {
    width: 400px;
  }

  @media (max-width: 470px) {
    width: 330px;
  }

  @media (max-width: 400px) {
    width: 260px;
  }

  &__heading {
    margin-top: -4rem !important;
    margin-bottom: 6rem !important;
    &:before {
      position: absolute;
      content: '';
      border-bottom: 18px solid $color-red;
      width: 21rem;
      display: block;
      margin: 0 auto;
      position: relative;
      left: 3.5rem;
      top: 6.3rem;

      z-index: -1;

      @media (max-width: 770px) {
        // width: 14rem;
        border-bottom: 14px solid $color-red;
      }
    }
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: 6rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-name,
    &-email {
      margin-bottom: 6px;
      padding: 1rem;
      height: 4rem;
    }

    &-message {
      height: 12rem;
      padding: 1rem;
    }

    &-submit-2 {
      align-self: flex-start;
      margin-top: 0 !important;
    }

    &-submit {
      align-self: flex-start;
      position: relative;
      // margin-top: 1.5rem;
      padding: 0.6rem 1rem;
      width: fit-content;

      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 3px;
      // border-bottom: 2px solid $color-red;
      z-index: 9;
      cursor: pointer;

      &:hover {
        color: $color-background;
        font-weight: 700;
      }

      &:after {
        position: absolute;
        content: '';
        border-bottom: 2px solid $color-red;

        width: calc(100% + 2rem);
        // height: 100%;
        left: -14%;
        top: 0.5rem;
        display: block;
        margin: 0 auto;
        position: relative;

        transform-origin: bottom;
        transition: all 0.2s;

        // left: -8rem;

        z-index: -1;
      }

      &:hover:after {
        transform: scaleY(17.5);

        @media (max-width: 1500px) {
          transform: scaleY(16.5);
        }

        @media (max-width: 1200px) {
          transform: scaleY(14);
        }

        @media (max-width: 770px) {
          transform: scaleY(12.5);
        }
      }
    }
  }

  & input,
  & textarea {
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: $color-background-light;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;

    border-left: 2px solid transparent;

    border-radius: 0;

    @media (max-width: 700px) {
      width: 400px;
    }

    @media (max-width: 470px) {
      width: 330px;
    }

    @media (max-width: 400px) {
      width: 260px;
    }

    &:focus {
      outline: none;
    }
    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba($color-text, 0.6);
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba($color-text, 0.6);
    }

    ::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba($color-text, 0.6);
    }
  }
}

.contact__form-error-submit {
  margin-top: 1.5rem;
  height: 7rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-error {
  align-self: start;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;

  // all form error messages
  & > * {
    display: none;
  }
}

.input-error {
  border-left: 2px solid $color-red !important;
}
